.Restaurants-container {
  margin-top: 20px;
  margin-bottom: 40px;
}
.Restaurants-items-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.pagination-button {
  border: none;
  background: #ffffff;
  padding: 0px;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.pagination-icon {
  color: #334155;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.page-count-numbers {
  font-family: Bree Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #334155;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 5px;
}

/*  Restaurant Item */
.Restaurant-item-container {
  display: flex;
}

.restaurant-img {
  height: 90px;
  width: 125px;
  border-radius: 8px;
}
.restaurant-details-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.restaurant-name {
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  margin-top: 3px;
  color: #334155;
}
.restaurant-food-type {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 300;
  color: #64748b;
}
.restaurant-rating-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.star-icon {
  width: 12px;
  height: 12px;
}
.rating-value {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  margin-left: 3px;
  margin-right: 3px;
  color: #1e293b;
}
.total-ratings-value {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #64748b;
}

@media screen and (min-width: 768px) {
  .Restaurant-item-container {
    margin-left: 30px;
    margin-bottom: 20px;
    width: 350px;
  }
  .restaurant-name {
    font-weight: 18px;
  }
  .restaurant-food-type {
    font-size: 16px;
  }
  .Restaurants-container {
    margin-top: 40px;
  }
  .restaurant-img {
    height: 100px;
    width: 160px;
    border-radius: 8px;
  }
}
@media screen and (max-width: 767px) {
  .Restaurant-item-container {
    margin-bottom: 10px;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .Restaurants-items-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: center;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .Restaurants-container {
    padding-left: 165px;
    padding-right: 140px;
  }
}
@media screen and (max-width: 767px) {
  .Restaurants-container {
    padding-left: 0;
    margin-left: 18px;
    margin-right: 10px;
  }
  .Restaurants-items-container {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .page-right-icon {
    margin-right: 30px;
  }
  .page-left-icon {
    margin-left: 22px;
  }
}
